body {
    padding-top: 56px;
}
  
.portfolio-item {
  margin-bottom: 30px;
}

.home_pic {
  height: 300px;
}

.background {
  background: orange;
}

.hotel_pic{
  height: 170px;
}

.country_pic{
  height: 200px;
}

.head_space{
  padding-top: 35px;
}

.search-row {
  margin-top: -10px;
  margin-bottom: 25px;
}

.search-input {
  width: 500px;
}

.search-button {
  margin-left: -15px;
  background: orange;
  border: orange;
}

.country {
  margin-left: 28px;
  margin-right: 10px;
}

.button {
  background: orange;
  border: orange;
  height: 35px;
  width: 85px;
  color: #f8f9fa
}