body {
    padding-top: 56px;
}
  
.portfolio-item {
  margin-bottom: 30px;
}

.home_pic {
  height: 300px;
}

.background {
  background: orange;
}

.hotel_pic{
  height: 248px;
}

.country_pic{
  height: 200px;
}

.head_space{
  padding-top: 35px;
}