{% extends "layout.html" %}
{% block content %}

<div class="container head_space">
  <div class="row search-row">
    <form method="GET" action="/countries">
      <div class="row">
        <div class="col-lg-10">
          <input name="search" type="text" class="form-control search-input" placeholder="Type a country name"/>
        </div>
        <div class="col-lg-2">
          <input type="submit" class="btn btn-md btn-primary search-button" value="Search"/>
        </div>
      </div>
    </form>
  </div>
  {% if search %}
    {% if countries %}
      <h3>Found for query "{{ search }}":</h3>
    {% else %}
      <h3>Nothing found for query "{{ search }}":</h3>
    {% endif %}
  {% endif %}
  {% if not selected_country and not search %}
    <h3>Countries:</h3>
  {% endif %}
  <div class="row">
    {% for country in countries %}
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <a href="/country/{{ country.id }}/"><h4 class="card-header">{{ country.name }}</h4></a>
        <div class="card-footer">
          <img class="card-img-top country_pic" src="{{ country.photo }}" alt="">
        </div>
        <div class="card-body">
          <p class="card-text">{{ country.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
  <!-- /.row -->

{% endblock %}