
{% extends "layout.html" %}

{% block content %}

<!-- Page Content -->
<div class="container portfolio-item">

  <h1 class="my-4">Welcome to travelling blog</h1>

  <!-- Features Section -->
  <div class="row">
    <div class="col-lg-6">
      <h2>Why are you reading it?</h2>
      <p>Most likely you like travelling same way as I do, or you always wanted to travel, but didn't know where to go first. So here you can get few new tips for youself as an experienced traveller or the full guideline as a junior traveller. On this blog you can find things like:</p>
      <ul>
        <li>Information about countries</li>
        <li>Hotels database</li>
        <li>My own view on travelling things (it's ok if you think differently)</li>
        <li>Guidelines which places to visit if you tired of well-known places</li>
        <li>Find a travel dude! If you still don't travel alone, but want to find a company.</li>
      </ul>
      <p>If you have relevant updated information you would be always welcome to share it with others!</p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid rounded home_pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ9asfkKuCerpE8b3S8g8F_Z_kwZ7pnac692UkkpVZibsbx4l6D&usqp=CAU" alt="">
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}